
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(to right top, #ed7cdf, #d560db, #b946d9, #962dd8, #6916d8);
    color: #ffffff;
    
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

.calculator h1 {
    font-size: 40px;
}

.calculator h1 span {
    color: #ffff00;

}

.input-box {
    margin: 40px 0;
    padding: 20px;
    border-radius: 10px;
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-box input {
    width: 100%;
    padding: 14px 20px;
    border: 0;
    outline: 0;
    font-size: 18px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.input-box button {
    background: #fcfc2f;
    border: 0;
    outline: 0;
    padding: 15px 30px;
    border-radius: 5px;
    font-weight: 500;
    color: #333;
    cursor: pointer;
    width: 100%;
}

#result {
    font-size: 20px;
}

#result span {
    color: #ffff1b;
}

.error {
    color: #ff1b1b;
    font-size: 20px;
    margin-top: 20px;
}

@media screen and (max-width: 768px) {
    .calculator h1 {
        font-size: 36px;
    }

    .input-box {
        padding: 20px;
    }

    .input-box input,
    .input-box button {
        font-size: 16px;
        padding: 12px;
    }

    #result {
        font-size: 18px;
    }
}

@media screen and (max-width: 480px) {
    .calculator h1 {
        font-size: 28px;
    }

    .input-box {
        padding: 15px;
    }

    .input-box input,
    .input-box button {
        font-size: 14px;
        padding: 10px;
    }

    #result {
        font-size: 16px;
        color: #fcfc2f;
    }
}
